html {
    background-color: rgb(47, 89, 145);
}

h1 {
    color: white;
}

#div0 {
    border: thick solid black;
    border-width: 7px;
    float: left;
    height: 400px;
    width: 350px;
    margin-top: 80px;
    margin-left: 18%;
    background-color: white;
}

#div1 {
    border: thick solid black;
    border-width: 7px;
    float: right;
    height: 400px;
    width: 350px;
    margin-right: 18%;
    margin-top: 80px;
    background-color: white;
}

span {
    position: fixed;
    z-index: 100;
    width: 200px;
    height: 130px;
    background-color: rgb(151, 45, 31);
}